<% content_for :content do %>
  <div class="two_columns">
    <div class="left">
      <% if content_for?(:custom_page_title) %>
        <%= yield(:custom_page_title) %>
      <% else %>
        <% if @content_first %>
          <% if @content_first.part_title.present? %>
            <%= content_tag :h1 do %>
              <%= @content_first.part_title %>
              <%= yield(:item_title) %>
            <% end %>
          <% else %>
            <%= content_tag :h1, @page_title %>
          <% end %>
          <%= render_partial_for_region(@content_first) %>
        <% end %>
      <% end %>
    </div>
    <div class="right">
      <%= render_partial_for_region(@news) %>
    </div>
  </div>
<% end %>

<%= render :template => 'layouts/application' %>
