<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name='yandex-verification' content='5b82f8c9e9140b58' />
  <%= favicon_link_tag %>
  <title><%= raw @page_title %> | <%= strip_tags(@site_name.content.body) %></title>

  <% if Rails.env.production? && request.host.eql?("tomsk.gov.ru") %>
  <!-- Gosmonitor widget -->
  <%= javascript_include_tag "http://www.google.com/jsapi" %>
  <%= javascript_include_tag "http://gosmonitor.ru/widget.php?id=113&amp;clr1=8aa865" %>
  <%= stylesheet_link_tag "http://dev.monitor.mer.gosbook.ru/widget/widget.css" %>
  <%= stylesheet_link_tag "http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/themes/base/jquery-ui.css" %>
  <%= stylesheet_link_tag "widget.css" %>
  <!-- / Gosmonitor widget -->
  <% end %>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= yield(:extend_javascripts) %>

  <!--[if lte IE 7]>
  <%= stylesheet_link_tag    "stop_ie/application" %>
  <%= javascript_include_tag "stop_ie/application" %>
  <![endif]-->

  <%= csrf_meta_tags %>
  <% if entry_date %>
    <meta name="entry_date" content="<%= entry_date %>">
  <% end %>
</head>
<body>
  <div class="top">
    <div class="inner">
      <ul class="header_links">
        <li><a target="_blank" href="http://tomsk.gov.ru/">Администрация томской области</a></li>
        <li><a href="/">Совет ветеранов томской области</a></li>
      </ul>
    </div>
  </div>

  <div class="header">
    <div class="inner">
      <%= render "regions/additional_#{@main_bottom_navigation.type.underscore}", :object => @main_bottom_navigation.content if @main_bottom_navigation %>
      <div class="logo">
        <%= link_to t("administration_of_tomsk_region"), "/", :title => t('administration_of_tomsk_region') %>
      </div>
      <div class="site_title">
        <a href="/" title='<%= t('administration_of_tomsk_region') %>'>
          <%= t('administration_of_tomsk_region') %>
          <span class="desc"><%#= t('official_information_internet_portal') %></span>
        </a>
      </div>
      <div class="search_block invalid_link">
        <form action="/ru/search/">
          <ul class='inputs'>
            <li>
              <input type="text" name='parts_params[search][q]' value='<%= params[:parts_params].try(:[], "search").try(:[], "q") %>' />
            </li>
          </ul>
          <ul class='buttons'>
            <li>
              <input type="submit" value="искать" />
            </li>
          </ul>
        </form>
      </div>
    </div>
  </div>

  <%= render "regions/main_#{@main_navigation.type.underscore}", :object => @main_navigation.content if @main_navigation %>

  <%= render "regions/submenu_#{@main_navigation.type.underscore}", :object => @main_navigation.content if @main_navigation %>

  <%= render "regions/main_subnavigation_part", :object => @main_subnavigation.content if @main_subnavigation %>

  <%= render "regions/#{@breadcrumbs.type.underscore}", :object => @breadcrumbs.content if @breadcrumbs %>

  <div class="content index">
    <div class="inner">
      <%= yield(:content) %>

      <%= render_partial_for_region(@gallery) if @gallery %>
    </div>
  </div>

  <%= render("regions/#{@banners.type.underscore}", :object => @banners.content) if @banners %>

  <%= render "regions/bottom_#{@secondary_navigation.type.underscore}", :object => @secondary_navigation.content if @secondary_navigation %>

  <div class="footer">
    <div class="inner">
      <div class="contacts">
        <h5>Контакты</h5>
        <p>Совет ветеранов Томской области</p>
        <p>634050, г.Томск, пл. Ленина, 6</p>
        <p>+7 (382-2) 510-505, +7 (382-2) 510-001</p>
        <p>+7 (382-2) 510-323, <a href='mailto:ato@tomsk.gov.ru'>ato@tomsk.gov.ru</a></p>
      </div>
      <div class="copyrights">
        <ul>
          <li>Разработка: <a href="http://openteam.ru">OpenTeam</a></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- <%= request.host %> -->

  <% if Rails.env.production? && request.host.eql?("tomsk.gov.ru") %>
  <!-- Yandex.Metrika counter -->
  <!-- /Yandex.Metrika counter -->
  <% end %>

</body>
</html>
